@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #ff9f9f2b;
}
.logo {
    display: block;
    margin: 10px auto;
}
h1 {
    font-size: 1.6rem;
    text-align: center;
}
.card-box {
    width: 450px;
    padding: 30px;
}
.card-box .url-input {
    margin: 30px 0;
}
.url-input .title {
    font-size: 18px;
    color: #373737;
}
.url-input .field {
    margin-top: 5px;
    height: 50px;
    width: 100%;
    position: relative;
}
.url-input .field input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 15px;
    font-size: 15px;
    background: #fff;
    border-bottom: 2px solid #ff0000c7;
}
.url-input .field input::placeholder {
    color: #b3b3b3;
}
.url-input .field .bottom-line {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #ff9f9f2b;
}
.card-box .preview-area {
    border-radius: 5px;
    height: 220px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px dashed #FF0000;
}
.preview-area.active {
    border: none;
}
.preview-area .thumbnail {
    width: 100%;
    display: none;
    border-radius: 5px;
}
.preview-area.active .thumbnail {
    display: block;
}
.preview-area.active .icon, .preview-area.active span {
    display: none;
}
.preview-area .icon {
    color: #FF0000;
    font-size: 80px;
}
.preview-area span {
    color: #FF0000;
    margin-top: 25px;
}
@media screen and (max-width: 460px) {
    body {
        padding: 0 20px;
   }
    .card-box header {
        font-size: 24px;
   }
    .url-input .field {
        height: 45px;
   }
    .card-box .preview-area {
        height: 130px;
   }
    .preview-area .icon {
        font-size: 50px;
   }
    .preview-area span {
        margin-top: 10px;
        font-size: 12px;
   }
}
